p{
    color:crimson
}
body{
    font-family: 'Edu TAS Beginner', cursive;
    background-color: blanchedalmond;
}
.header_div{
    background:linear-gradient(rgb(0, 255, 102),rgba(0, 223, 220, 0.868),rgb(236, 236, 47));
    color: aquamarine;
}
.header_div p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: crimson;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
font-family: Georgia, 'Times New Roman', Times, serif;
margin-top: 30px;
width: 130px;
font-weight: bolder;
letter-spacing: 3px;
}

.copy_right_footer{
    position:fixed;
    color: thistle;
    bottom:0;
    width:100%;
    font-size: 18px;
    background-color: tomato;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px gray;
    
}